<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login | Re-Plan</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/resources/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
        <link rel="shortcut icon" type="image/x-icon" href="http://www.upc.edu/favicon.ico" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-material/angular-material.min.css">

        <script src = "/resources/bower_components/angular/angular.js"></script>
        <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
        <script src = "/resources/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src = "/resources/bower_components/angular-aria/angular-aria.min.js"></script>
        <script src = "/resources/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src = "/resources/bower_components/angular-material/angular-material.min.js"></script>
        <script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
        <script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
        <script src = "/resources/bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>

        <script src = "/resources/public/js/common.js"></script>

        <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
    </head>

    <body ng-app="UserApp">
      <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
        <div class="container" style="font-weight:initial">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-danger" href="#">RePlan</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapsible">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/resources/public/index.html">Login</a></li>
                    <li><a href="/resources/public/register_replan.html">Register</a></li>
                </ul>
            </div>
          </div>
      </nav>

            <section class="container">

                <div class="row" ng-controller="BaseFormCtrl">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                    	<div class="form-top">
                    		<div class="form-top-left">
                    			<h3>Login to Replan tool</h3>
                        		<p>Enter your username and password to log on:</p>
                    		</div>
                    		<div class="form-top-right">
                    			<i class="fa fa-lock"></i>
                    		</div>
                        </div>
                        <div class="form-bottom">
	                    <form ng-submit="onLogin()" name="form" class="login-form" novalidate ng-controller="LoginCtrl">
	                    	<div class="form-group">
	                    		<label class="sr-only" for="form-username">Username</label>
	                        	<input type="text" ng-focus="focus('username')"  ng-blur="blur('username')" ng-model="vm.username"
                                   name="username" placeholder="Username..." class="form-username form-control" id="form-username">
	                        </div>
	                        <div class="form-group">
	                        	<label class="sr-only" for="form-password">Password</label>
	                        	<input type="password" ng-focus="focus('password')"  ng-blur="blur('password')" ng-model="vm.password"
                                   name="password" placeholder="Password..." class="form-password form-control" id="form-password">
	                        </div>
	                        <button type="submit" class="btn">Sign in!</button>
	                    </form>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login">
                    	<h4>Copyright © SUPERSEDE Project - UPC</h4>
                    </div>
                </div>
            </section>



        <!-- Javascript -->
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>
