<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login | Re-Plan</title>
    <link rel="stylesheet" type="text/css" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" type="text/css" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" type="text/css" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" type="text/css" href="/resources/public/css/calories-tracker.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.upc.edu/favicon.ico" />
</head>
<body id="loginApp">
    
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand text-danger" href="#">RePlan</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapsible">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="/resources/public/login_replan.html">Login</a></li>
                  <li><a href="/resources/public/register_replan.html">Register</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-heart-o fa-lg"></i></a></li>
              </ul>
          </div>
        </div>
    </nav>
    <section class="container">
    <div ng-controller="BaseFormCtrl">

        <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <div class="login-container">
            <form ng-submit="onLogin()" name="form" class="pure-form login-form" novalidate ng-controller="LoginCtrl">
                
                    <legend><h2 class="form-signin-heading">Please sign in</h2></legend>
                    <div class="form-field">
                        <input type="text" ng-focus="focus('username')"  ng-blur="blur('username')" ng-model="vm.username"
                               name="username" class="pure-input-1" placeholder="Username" required ng-minlength="6">

                        <div class="error-messages" ng-show="isMessagesVisible('username')" ng-messages="form.username.$error" ng-cloak>
                            <div ng-message="required">The username is mandatory</div>
                            <div ng-message="minlength">must have minimum 6 characters</div>
                        </div>
                    </div>
                    <div class="form-field">
                        <input type="password" ng-focus="focus('password')"  ng-blur="blur('password')" ng-model="vm.password"
                               name="password" class="pure-input-1" placeholder="Password" required ng-minlength="6"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                        <div class="error-messages" ng-show="isMessagesVisible('password')" ng-messages="form.password.$error" ng-cloak>
                            <div ng-message="required">The password is mandatory</div>
                            <div ng-message="minlength">must have minimum 6 characters</div>
                            <div ng-message="pattern">At least one number and uppercase</div>
                        </div>
                    </div>
                

                <button type="submit" class="btn btn-lg btn-primary btn-block">Log In</button>
                <a class="new-user-link" href="/resources/public/new-user.html">New user?</a>

            </form>
        </div>
    </div>
    </section>

    <script type="text/javascript" data-main="/resources/public/js/public-app"
            src="/resources/bower_components/requirejs/require.js"></script>


</body>
</html>