<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create User</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
</head>
<body class="pure-skin-theme" id="createUserApp">

<header class="page-header pure-g">
    <div class="pure-u-lg-1-2 pure-u-1">
        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">Re-Plan</span>
    </div>
</header>

    <main ng-controller="BaseFormCtrl">

        <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <div class="login-container">

            <form name="form" ng-submit="createUser()" class="pure-form login-form" novalidate ng-controller="NewUserCtrl">
                <fieldset class="pure-group">
                    <legend>New User?</legend>
                    <div class="form-field">
                        <input type="text" ng-focus="focus('username')" ng-blur="blur('username')" ng-model="vm.username"
                               name="username" class="pure-input-1" placeholder="Username" required ng-minlength="6">

                        <div class="error-messages" ng-show="isMessagesVisible('username')" ng-messages="form.username.$error"
                             ng-cloak>
                            <div ng-message="required">The username is mandatory</div>
                            <div ng-message="minlength">must have minimum 6 characters</div>
                        </div>
                    </div>
                    <div class="form-field">
                        <input type="email" ng-focus="focus('email')" ng-blur="blur('email')" ng-model="vm.email"
                               name="email" class="pure-input-1" placeholder="Email" required>

                        <div class="error-messages" ng-show="isMessagesVisible('email')" ng-messages="form.email.$error"
                             ng-cloak>
                            <div ng-message="required">The email is mandatory</div>
                            <div ng-message="email">must be a valid email</div>
                        </div>
                    </div>
                    <div class="form-field">
                        <input type="password" ng-focus="focus('password')" ng-blur="blur('password')"
                               ng-model="vm.password" name="password" class="pure-input-1" placeholder="Password"
                               required ng-minlength="6" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">

                        <div class="error-messages" ng-show="isMessagesVisible('password')" ng-messages="form.password.$error"
                             ng-cloak>
                            <div ng-message="required">The password is mandatory</div>
                            <div ng-message="minlength">must have minimum 6 characters</div>
                            <div ng-message="pattern">At least one number and uppercase</div>
                        </div>
                    </div>
                    <div class="form-field">
                        <input type="password" ng-focus="focus('confirmPassword')" ng-blur="blur('confirmPassword')"
                               ng-model="vm.confirmPassword" name="confirmPassword" class="pure-input-1"
                               placeholder="Confirm Password" required ng-minlength="6"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" check-passwords-match>

                        <div class="error-messages" ng-show="isMessagesVisible('confirmPassword')"
                             ng-messages="form.confirmPassword.$error" ng-cloak>
                            <div ng-message="required">The password is mandatory</div>
                            <div ng-message="minlength">must have minimum 6 characters</div>
                            <div ng-message="pattern">At least one number and uppercase</div>
                            <div ng-message="checkPasswordsMatch">Passwords must match</div>
                        </div>
                    </div>
                    <div class="last-form-field">
                        <input type="text" ng-focus="focus('projectId')" ng-blur="blur('projectId')" ng-model="vm.projectId"
                               name="projectId" class="pure-input-1" placeholder="ProjectID" required ng-minlength="1">

                        <div class="error-messages" ng-show="isMessagesVisible('projectId')" ng-messages="form.username.$error"
                             ng-cloak>
                            <div ng-message="required">The projectId is mandatory</div>
                        </div>
                    </div>
                </fieldset>

                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Create User</button>
                <a class="new-user-link" href="login.html">Already a user?</a>

            </form>

        </div>
    </main>

<script type="text/javascript" data-main="/resources/public/js/public-app"
        src="/resources/bower_components/requirejs/require.js"></script>
</body>
</html>