<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register | Re-Plan</title>

    <!-- CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css">
 <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
 <link rel="shortcut icon" type="image/x-icon" href="https://www.upc.edu/favicon.ico" />

 <script src = "/resources/bower_components/angular/angular.js"></script>
 <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
<script src = "/resources/bower_components/angular-aria/angular-aria.min.js"></script>
<script src = "/resources/bower_components/angular-animate/angular-animate.min.js"></script>
<script src = "/resources/bower_components/angular-material/angular-material.min.js"></script>
 <script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
 <script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
 <script src = "/resources/public/js/common.js"></script>
 <script src = "/resources/public/js/editable-table-widgets.js"></script>

</head>

<body ng-app="UserApp" id ="mainScreen">
      <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-danger" href="#">RePlan</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapsible">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/resources/public/index.html">Login</a></li>
                    <li><a href="/resources/public/register_replan.html">Register</a></li>
                </ul>
            </div>
          </div>
      </nav>

      <section class="container" ng-controller="BaseFormCtrl">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-6">
              <legend><h2>User Registration</h2></legend>
          </div>
        </div>
        <form name="form" id="registerForm" class="form-horizontal" ng-submit="createUser()" novalidate ng-controller="NewUserCtrl">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-5">
              <input id="username" ng-focus="focus('username')" ng-blur="blur('username')" ng-model="vm.username"
                     name="username" class="form-control" placeholder="Name" required>
            </div>
            <div class="col-sm-1" ng-show="form.password.$touched">
              <span ng-class="{'glyphicon glyphicon-ok valid': form.username.$valid, 'glyphicon glyphicon-remove not-valid': form.username.$invalid}"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">E-Mail</label>
            <div class="col-sm-5">
              <input type="email" id="email" ng-focus="focus('email')" ng-blur="blur('email')" ng-model="vm.email"
                     name="email" class="form-control" placeholder="E-Mail" required>
            </div>
            <div class="col-sm-1" ng-show="form.password.$touched">
              		<span ng-class="{'glyphicon glyphicon-ok valid': form.email.$valid, 'glyphicon glyphicon-remove not-valid': form.email.$invalid}"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-5">
              <input type="password" id="password" ng-focus="focus('password')" ng-blur="blur('password')"
                     ng-model="vm.password" name="password" class="form-control" placeholder="Password"
                     required ng-minlength="7">

            </div>
            <div class="col-sm-1" ng-show="form.password.$touched">
              	<span ng-class="{'glyphicon glyphicon-ok valid': form.password.$valid, 'glyphicon glyphicon-remove not-valid': form.password.$invalid}"></span>
            </div>
          </div>

          <div class="col-sm-offset-2 col-sm-5">
            <button type="submit" class="btn btn-primary">Create User</button>
            <a href="/resources/public/index.html" class="btn btn-danger pull-right">Go Back</a>
          </div>
        </form>
      </section>
</body>
</html>
