<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Re-Plan SUPERSEDE</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
    <link rel="stylesheet" href="/resources/css/jquery.datetimepicker.css">
	<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="/resources/public/js/dialog.js"></script>
</head>
<body class="pure-skin-theme" id="MainScreenApp" ng-controller="MainScreenCtrl">

<div class="please-wait-dialog" ng-hide="vm.appReady">
    <img class="please-wait-spinner" src="/resources/img/loading.gif">
</div>

<header class="page-header pure-g" ng-class="app-ready">
    <div class="pure-u-lg-1-2 pure-u-1">

        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">Re-Plan SUPERSEDE Project</span>


    </div>
    <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
            <a class="logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</header>

<main class="container" ng-class="appReady" ng-cloak>

    <tt-error-messages></tt-error-messages>

    <div class="info-messages"
         ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
    <img class="info-icon" src="/resources/img/info-icon.png">
        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>

    <form class="pure-form pure-form-aligned search-form">

        <div class="pure-g">
            <div class="pure-u-1-5">
	            <table class="pure-table">
	                <thead>
	                <tr>
	                    <th class="selection-column"></th>
	                    <th></th>
	                    <th></th>
	                </tr>
	                </thead>

	                <tbody>

	                <tr ng-repeat="requirement in vm.requirements" rowValue="requirement"
	                    ng-class="{'pure-table-odd': $index % 2 == 1, 'pure-table-even': $index % 2 == 0}">

	                    <td class="selection-column">
	                        <input type="checkbox" ng-model="requirement.selected" ng-click="selectRequirement()">
	                    </td>

	                    <td tt-editable-cell value="requirement.name" ></td>
	                </tr>

	                </tbody>
	            </table>
            </div>

            <div class="pure-u-3-5">
	            <table class="pure-table">
	                <thead>
	                <tr>
	                    <th class="selection-column"></th>
	                    <th></th>
	                    <th></th>
	                </tr>
	                </thead>

	                <tbody>

	                <tr ng-repeat="release in vm.releases" rowValue="release">

	                    <td class="selection-column">
	                        <input type="radio" ng-model="release.selected" ng-click="selectRelease()">
	                    </td>

	                    <td value="release.name" ></td>

	                    <td>
	                         <button type="submit" class="pure-button pure-button-primary" style="background-color:transparent; border-color:transparent;" ng-click="edit(release)">
            							    <img src="images/button/masuk.png" height="35"/>
            							 </button>
	                    </td>

	                </tr>

	                </tbody>
	            </table>
            </div>
        </div>
    </form>

    <div class="form-separator"></div>

    <div class="main-controls">
        <a href="/resources/new-release.html" class="pure-button pure-button-primary">Add Release</a>
        <a href="/resources/new-requirement.html" class="pure-button ">Add feature</a>
        <a href="/resources/project-pane.html" class="pure-button ">Edit project config</a>
    </div>

</main>

<script type="text/javascript" data-main="/resources/js/run-main-screen"
        src="/resources/bower_components/requirejs/require.js"></script>
<script>

</script>

</body>
</html>
