<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Project Planning | Re-Plan</title>
  <script src = "/resources/bower_components/angular/angular.js"></script>
  <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/resources/css/dnd-lists.css">
  <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css">

  <link rel="shortcut icon" type="image/x-icon" href="https://www.upc.edu/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
    <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-gantt/assets/angular-gantt.css" />

    <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-gantt/assets/angular-gantt-plugins.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/main.css">

  <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">


  <script src = "/resources/js/multiselect/angular-multiselect.js"></script>
  <script src = "/resources/js/requirement-creator-app.js"></script>
  
  <script src = "/resources/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
  <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
  <script src = "/resources/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src = "/resources/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src = "/resources/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src = "/resources/bower_components/angular-material/angular-material.min.js"></script>
  <script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
  <script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
  <script src = "/resources/bower_components/angular-ui-router-anim-in-out/anim-in-out.js"></script>
  <script src = "/resources/js/frontend-services.js"></script>
  <script src = "/resources/js/main-screen.js"></script>
</head>

<body ng-app="ProjectApp" ng-controller="MainCtrl" id="mainScreen">
     <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand text-danger" href="#">RePlan</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapsible">
              <ul class="nav navbar-nav navbar-left">
                  <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Projects Management<span class="caret"></span></a>
	                <ul class="dropdown-menu">
	                  <li class="dropdown-header">User Projects</li>
	                  <li ng-repeat="project in vm.projects"><a href="" ng-click="changeUserProject(project.id)">{{project.name}}</a></li>
	                  <li role="separator" class="divider"></li>

	                  <li><a ui-sref="newProject">Add Project</a></li>
	                </ul>
	              </li>
                  <li><a href="/resources/project_replan.html">Project's Resources</a></li>
                  <li><a href="/resources/MainScreen_replan.html">Release Management</a></li>
                  <li>&nbsp;</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <div class="username-placeholder" ng-hide="vm.userName"></div>
                      <span class="navbar-brand text-danger" ng-cloak>{{vm.userName}}</span>
                  </li>
                  <li><a href="#" ng-click="logout()">Logout</a></li>
              </ul>
          </div>
        </div>
    </nav>

	<div ui-view class="anim-in-out anim-fade" data-anim-speed="500"></div>
</body>
</html>
