<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Requirement | Re-Plan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.upc.edu/favicon.ico" />

    <script src = "/resources/bower_components/angular/angular.js"></script>
    <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
    <script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
    <script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
    <script src = "/resources/js/frontend-services.js"></script>
    <script src = "/resources/js/requirement-creator-app.js"></script>
    <script src = "/resources/public/js/editable-table-widgets.js"></script>
    <script src = "/resources/js/multiselect/angular-multiselect.js"></script>

</head>
<body ng-app="requirementCreatorApp" ng-controller="RequirementCtrl">
  <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
   <div class="container">
       <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand text-danger" href="#">RePlan</a>
       </div>
       <div class="navbar-collapse collapse" id="navbar-collapsible">
           <ul class="nav navbar-nav navbar-left">
               <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Projects Management<span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li class="dropdown-header">User Projects</li>
                 <li ng-repeat="project in vm.projects"><a href="changeUserProject(project.id)">{{project.name}}</a></li>
                 <li role="separator" class="divider"></li>

                 <li><a href="/resources/new-project_replan.html">Add Project</a></li>
               </ul>
             </li>
               <li><a href="/resources/project_replan.html">Project's Resources</a></li>
               <li><a href="/resources/MainScreen_replan.html">Release Management</a></li>
               <li>&nbsp;</li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
               <li>
                   <div class="username-placeholder" ng-hide="vm.userName"></div>
                   <span class="navbar-brand text-danger" ng-cloak>{{vm.userName}}</span>
               </li>
               <li><a href="#" ng-click="logout()">Logout</a></li>
           </ul>
       </div>
     </div>
 </nav>

    <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <section class="container">
            <form name="form" class="form-horizontal" ng-submit="createRequirement()" novalidate>
                <legend><h2>Create Feature</h2></legend>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.name"
                             name="name" class="form-control" placeholder="Name">

                      <div class="error-messages" ng-show="isMessagesVisible('name')" ng-messages="form.name.$error"
                           ng-cloak>
                          <div ng-message="required">The name is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="effort" class="col-sm-2 control-label">Effort (hours)</label>
                    <div class="col-sm-10">
                      <input id="effort" type="text" ng-focus="focus('effort')" ng-blur="blur('effort')" ng-model="vm.effort"
                             name="effort" class="form-control" placeholder="Effort" required ng-minlength="1">

                      <div class="error-messages" ng-show="isMessagesVisible('effort')" ng-messages="form.effort.$error"
                           ng-cloak>
                          <div ng-message="required">The effort is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
        						<label for="component" class="col-sm-2 control-label">Component</label>
                    <div class="col-sm-10">
                        <multiselect id="component"
			                ng-model="vm.components"
			                options="c.name for c in vm.availableComponents"
			                data-multiple="true">
			            </multiselect>
                      <div class="error-messages" ng-show="isMessagesVisible('component')" ng-messages="form.component.$error"
                           ng-cloak>
                          <div ng-message="required">The components are mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                	<label for="deadline" class="col-sm-2 control-label">Deadline</label>
                    <div class="col-sm-10">
                      <input id="deadline" type="date" ng-focus="focus('deadline')" ng-blur="blur('deadline')" ng-model="vm.deadline"
                             name="deadline" class="form-control" placeholder="Deadline" required ng-minlength="6">

                      <div class="error-messages" ng-show="isMessagesVisible('deadline')" ng-messages="form.deadline.$error"
                           ng-cloak>
                          <div ng-message="required">The deadline is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                	<label for="dependencies" class="col-sm-2 control-label">Dependent on</label>
                  <div class="col-sm-10">
                     <multiselect id="dependencies"
		                ng-model="vm.dependencies"
		                options="r.name for r in vm.availableRequirements"
		                data-multiple="true">
		            </multiselect>
                  </div>
                </div>
                <div class="form-group">
                	<label for="priority" class="col-sm-2 control-label">Priority</label>
                    <div class="col-sm-10">
                      <input id="priority" type="text" ng-focus="focus('priority')" ng-blur="blur('priority')" ng-model="vm.priority"
                             name="priority" class="form-control" placeholder="Priority" required ng-minlength="1">

                      <div class="error-messages" ng-show="isMessagesVisible('priority')" ng-messages="form.$error"
                           ng-cloak>
                          <div ng-message="required">The priority is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                	<label for="maxEmployees" class="col-sm-2 control-label">Max Employees</label>
                    <div class="col-sm-10">
                      <input id="maxEmployees" type="text" ng-focus="focus('maxEmployees')" ng-blur="blur('maxEmployees')" ng-model="vm.maxEmployees"
                             name="maxEmployees" class="form-control" placeholder="maxEmployees">

                      <div class="error-messages" ng-show="isMessagesVisible('maxEmployees')" ng-messages="form.$error"
                           ng-cloak>
                          <div ng-message="required">The max number of employees is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" ng-click="save()">Create Requirement</button>
                </div>
            </form>
        </section>
</body>
</html>
