<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Release | Re-Plan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.upc.edu/favicon.ico" />
    
    
    <script src = "/resources/bower_components/angular/angular.js"></script>
    <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
    <script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
    <script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
    <script src = "/resources/js/frontend-services.js"></script>
    <script src = "/resources/js/release-creator-app.js"></script>
    <script src = "/resources/public/js/editable-table-widgets.js"></script>
    
</head>

<body ng-app="releaseCreatorApp" ng-controller="ReleaseController">
	<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand text-danger" href="#">RePlan</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapsible">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="/resources/new-project_replan.html">Current Project</a></li>
                  <li><a href="/resources/project_replan.html">Current Project</a></li>
                  <li><a href="/resources/MainScreen_replan.html">Release Management</a></li>
                  <li>&nbsp;</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <div class="username-placeholder" ng-hide="vm.userName"></div>
                      <span class="navbar-brand text-danger" ng-cloak>{{vm.userName}}</span>
                  </li>
                  <li><a href="#" ng-click="logout()">Logout</a></li>
              </ul>
          </div>
        </div>
    </nav>

    <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <section class="container">
            <form name="form" class="form-horizontal" ng-submit="createRelease()" novalidate>
                <legend><h2>Create Release</h2></legend>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.name"
                             name="name" class="form-control" placeholder="Name">

                      <div class="error-messages" ng-show="isMessagesVisible('name')" ng-messages="form.name.$error"
                           ng-cloak>
                          <div ng-message="required">The name is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="capacity" class="col-sm-2 control-label">Capacity </label>
                    <div class="col-sm-10">
                      <input id="capacity" type="text" ng-focus="focus('capacity')" ng-blur="blur('capacity')" ng-model="vm.capacity"
                             name="capacity" class="form-control" placeholder="Capacity" required ng-minlength="1">

                      <div class="error-messages" ng-show="isMessagesVisible('capacity')" ng-messages="form.capacity.$error"
                           ng-cloak>
                          <div ng-message="required">The capacity is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="budget" class="col-sm-2 control-label">Budget </label>
                    <div class="col-sm-10">
                      <input id="budget" type="text" ng-focus="focus('budget')" ng-blur="blur('budget')" ng-model="vm.budget"
                             name="budget" class="form-control" placeholder="Capacity" required ng-minlength="1">

                      <div class="error-messages" ng-show="isMessagesVisible('Budget')" ng-messages="form.budget.$error"
                           ng-cloak>
                          <div ng-message="required">The budget is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                	<label for="initDate" class="col-sm-2 control-label">Initial Date</label>
                    <div class="col-sm-10">
                      <input id="initDate" type="date" ng-focus="focus('initDate')" ng-blur="blur('initDate')" ng-model="vm.initDate"
                             name="initDate" class="form-control" placeholder="Initial Date" required ng-minlength="6">

                      <div class="error-messages" ng-show="isMessagesVisible('initDate')" ng-messages="form.initDate.$error"
                           ng-cloak>
                          <div ng-message="required">The Initial Date is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                	<label for="deadline" class="col-sm-2 control-label">Deadline</label>
                    <div class="col-sm-10">
                      <input id="deadline" type="date" ng-focus="focus('deadline')" ng-blur="blur('deadline')" ng-model="vm.deadline"
                             name="deadline" class="form-control" placeholder="Deadline" required ng-minlength="6">

                      <div class="error-messages" ng-show="isMessagesVisible('deadline')" ng-messages="form.deadline.$error"
                           ng-cloak>
                          <div ng-message="required">The deadline is mandatory</div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" ng-click="save()">Create Release</button>
                </div>
            </form>
        </section>

</body>
</html>
