<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Creation | Re-Plan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
    <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css">
  <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://www.upc.edu/favicon.ico" />
  
  
   <script src = "/resources/bower_components/angular/angular.js"></script>
	 <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
	<script src = "/resources/bower_components/angular-aria/angular-aria.min.js"></script>
	<script src = "/resources/bower_components/angular-animate/angular-animate.min.js"></script>
	<script src = "/resources/bower_components/angular-material/angular-material.min.js"></script>
	 <script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
	 <script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
  
    <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
</head>
<body id="mainScreen">

<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand text-danger" href="#">RePlan</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapsible">
              <ul class="nav navbar-nav navbar-left">
                  <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Projects Management<span class="caret"></span></a>
	                <ul class="dropdown-menu">
	                  <li class="dropdown-header">User Projects</li>
	                  <li ng-repeat="project in vm.projects"><a href="" ng-click="changeUserProject(project.id)">{{project.name}}</a></li>
	                  <li role="separator" class="divider"></li>

	                  <li><a href="/resources/new-project_replan.html">Add Project</a></li>
	                </ul>
	              </li>
                  <li><a href="/resources/project_replan.html">Project's Resources</a></li>
                  <li><a href="/resources/MainScreen_replan.html">Release Management</a></li>
                  <li>&nbsp;</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <div class="username-placeholder" ng-hide="vm.userName"></div>
                      <span class="navbar-brand text-danger" ng-cloak>{{vm.userName}}</span>
                  </li>
                  <li><a href="#" ng-click="logout()">Logout</a></li>
              </ul>
          </div>
        </div>
    </nav>
    
    <section class="container" ng-app="ProjectApp" ng-controller="ProjectCtrl">
	    <form name="form" class="form-horizontal" ng-submit="createProject()" novalidate>
	        <legend><h2>Create Project</h2></legend>
	        <div class="form-group">
	            <label for="name" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-8">
	              <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.nameProject"
	                     name="name" class="form-control" placeholder="Name">
	            </div>
	           	<div class="col-sm-1" ng-show="form.name.$touched">
	              <span ng-class="{'glyphicon glyphicon-ok valid': form.name.$valid, 'glyphicon glyphicon-remove not-valid': form.name.$invalid}"></span>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="description" class="col-sm-2 control-label">Description</label>
	            <div class="col-sm-8">
	              <textarea id="description" type="text" rows="5" ng-focus="focus('description')" ng-blur="blur('description')" ng-model="vm.description"
	                     name="description" class="form-control" placeholder="Description" ></textarea>
	            </div>
	           	<div class="col-sm-1" ng-show="form.description.$touched">
	              <span ng-class="{'glyphicon glyphicon-ok valid': form.description.$valid, 'glyphicon glyphicon-remove not-valid': form.description.$invalid}"></span>
	            </div>
	        </div>
	        <div class="col-sm-offset-2 col-sm-8">
	          <button type="submit" class="btn btn-primary" ngClick="Submit">Create Project</button>
	          <a ui-sref="releaseMgmt" class="btn btn-danger pull-right">Go Back</a>
	        </div>
	    </form>
	</section>
    
</body>
</html>
