<section class="container" ng-controller="ProjectCtrl">
    <form name="form" class="form-horizontal" ng-submit="createProject()" novalidate>
        <legend><h2>Create Project</h2></legend>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-8">
              <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.nameProject"
                     name="name" class="form-control" placeholder="Name">
            </div>
           	<div class="col-sm-1" ng-show="form.name.$touched">
              <span ng-class="{'glyphicon glyphicon-ok valid': form.name.$valid, 'glyphicon glyphicon-remove not-valid': form.name.$invalid}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-8">
              <textarea id="description" type="text" rows="5" ng-focus="focus('description')" ng-blur="blur('description')" ng-model="vm.description"
                     name="description" class="form-control" placeholder="Description" ></textarea>
            </div>
           	<div class="col-sm-1" ng-show="form.description.$touched">
              <span ng-class="{'glyphicon glyphicon-ok valid': form.description.$valid, 'glyphicon glyphicon-remove not-valid': form.description.$invalid}"></span>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn btn-primary" ngClick="Submit">Create Project</button>
          <a ui-sref="releaseMgmt" class="btn btn-danger pull-right">Go Back</a>
        </div>
    </form>
</section>

