<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Release Resources | Re-Plan</title>
  <script src = "/resources/bower_components/angular/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/dnd-lists.css">
  <link rel="stylesheet" href="https://vitalets.github.io/angular-xeditable/dist/css/xeditable.css">
  <link rel="stylesheet" type="text/css" href="/resources/bower_components/angular-material/angular-material.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="https://www.upc.edu/favicon.ico" />

  <script src = "/resources/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
  <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
  <script src = "/resources/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src = "/resources/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src = "/resources/bower_components/angular-material/angular-material.min.js"></script>
  <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
  <script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
  <script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
  <script src = "/resources/js/frontend-services.js"></script>
  <script src="/resources/js/resources/modal.js"></script>
  <script src="/resources/js/releaseResources.js"></script>
</head>

<body ng-app="ReleaseResourcesApp" ng-controller="NextReleaseCtrl" id="nrs_screen">
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
     <div class="container">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand text-danger" href="#">RePlan</a>
         </div>
         <div class="navbar-collapse collapse" id="navbar-collapsible">
             <ul class="nav navbar-nav navbar-left">
                 <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Projects Management<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li class="dropdown-header">User Projects</li>
                   <li ng-repeat="project in vm.projects"><a href="changeUserProject(project.id)">{{project.name}}</a></li>
                   <li role="separator" class="divider"></li>

                   <li><a href="/resources/new-project_replan.html">Add Project</a></li>
                 </ul>
               </li>
                 <li><a href="/resources/project_replan.html">Project's Resources</a></li>
                 <li><a href="/resources/MainScreen_replan.html">Release Management</a></li>
                 <li>&nbsp;</li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
                 <li>
                     <div class="username-placeholder" ng-hide="vm.userName"></div>
                     <span class="navbar-brand text-danger" ng-cloak>{{vm.userName}}</span>
                 </li>
                 <li><a href="#" ng-click="logout()">Logout</a></li>
             </ul>
         </div>
       </div>
   </nav>



<div dnd-list="[]" class="container">
  <section class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Release Creation / Edition</h3>
      </div>
    </div>
          <hr />
    <form role="form" class="form-horizontal">
      <div class="row form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.release.name"
                   name="name" class="form-control" placeholder="Name">

            <div class="error-messages" ng-show="isMessagesVisible('name')" ng-messages="form.name.$error"
                 ng-cloak>
                <div ng-message="required">The name is mandatory</div>
            </div>
          </div>
      </div>

      <div class="row form-group">
          <label for="description" class="col-sm-2 control-label">Description </label>
          <div class="col-sm-10">
            <input id="capacity" type="text" ng-focus="focus('description')" ng-blur="blur('description')" ng-model="vm.release.description"
                   name="description" class="form-control" placeholder="Description">
          </div>
      </div>
	    <div class="dragDropZone row">
          <label for="resources" class="col-sm-2 control-label">Resources </label>
          <div class="col-sm-3">
  	        <div class="panel panel-info">
  	              <div class="panel-heading">
  	                  <h3 class="panel-title ng-binding text-center">Resources</h3>
  	              </div>
  	              <div class="panel-body ng-scope" style="max-height: 225;overflow-y: scroll;">
  	                  <!-- The dnd-list directive allows to drop elements into it.
  	                   The dropped data will be added to the referenced list -->
  	                  <ul dnd-list="vm.releaseEmployees">
  	                      <!-- The dnd-draggable directive makes an element draggable and will
  	                           transfer the object that was assigned to it. If an element was
  	                           dragged away, you have to remove it from the original list
  	                           yourself using the dnd-moved attribute -->
  	                      <li ng-repeat="item in vm.releaseEmployees"
  	                          dnd-draggable="item"
  	                          dnd-moved="freeEmployee($index)"
  	                          dnd-effect-allowed="move"
  	                          dnd-selected="vm.selected = item"
  	                          ng-class="{'selected': vm.selected === item}"
  	                          >
  	                          {{item.name}}
  	                      </li>
  	                  </ul>
  	              </div>
  	        </div>
	      </div>
        <div class="col-sm-2">
          <button class="btn btn-default" ng-click="addUser()">Add</button>
          <button ng-click="toggleModal()" class="btn btn-default">Add Default</button>
        </div>
        <div class="col-sm-4 animate-show" ng-show="vm.selected" >
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left">{{vm.selected.name}}</h4>
              <div class="btn-group pull-right">
                <button type="button" class="close" aria-hidden="true" ng-click="vm.selected.name = ''">×</button>
              </div>
            </div>
                <div class="panel-body">
                  <p><strong>Skills</strong> </p>
                  <ul>
                   	<li ng-repeat="skill in vm.selected.skills">{{skill.name}}</li>
                  </ul>
                </div>
          </div>
        </div>
	    </div>
      <div class="row form-group">
          <label for="deadline" class="col-sm-2 control-label">Release Date</label>
          <div class="col-sm-3">
              <input id="deadline" type="date" ng-focus="focus('deadline')" ng-blur="blur('deadline')" ng-model="vm.deadline"
                     name="deadline" class="pure-input-1" placeholder="Deadline" required ng-minlength="6">

              <div class="error-messages" ng-show="isMessagesVisible('deadline')" ng-messages="form.deadline.$error"
                   ng-cloak>
                  <div ng-message="required">The deadline is mandatory</div>
              </div>
          </div>
          <div class="col-sm-2">
              <button class="btn btn-default" ng-click="extend()">48 months</button>
          </div>
      </div>
	    <div class="row pull-right">
	        <button ng-click="saveRelease()" class="btn btn-default">Create / Edit Release</button>
	    </div>
    </form>
  </section>

  <modal title="Add Resource" visible="showModal">
    <form role="form">
      <div class="form-group">
        <label for="resourceName">Resource</label>
		<select class="form-control" name="availableResource" id="resourceName"
	    		ng-options="employee.name for employee in vm.availableEmployees"
	    		ng-model="selectedEmployee">
	    </select>
      </div>
      <div class="form-group">
        <label for="resourceSkills">Skills</label>
        <input type="text" class="form-control" id="resourceSkills" value="{{showSkills(selectedEmployee.skills)}}" disabled/>
      </div>
      <div class="form-group">
        <label for="resourceAvailability">Availability</label>
        <input type="text" class="form-control" id="resourceAvailability" ng-model="selectedEmployee.effort" value="{{employee.effort > 0 ? employee.effort : ''}}" disabled />
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-default" ng-click="addEmployee(selectedEmployee)" data-dismiss="modal">Add</button>
      </div>
    </form>
  </modal>
</div>
</body>
</html>
