<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Next Release - Re Plan</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
    <link rel="stylesheet" href="bower_components/angular-gantt/assets/angular-gantt.css" />
    <link rel="stylesheet" href="bower_components/angular-gantt/assets/angular-gantt-plugins.css" />
    <link rel="shortcut icon" type="image/x-icon" href="http://www.upc.edu/favicon.ico" />
    <link rel="stylesheet" href="/resources/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">

    <script src="bower_components/angular/angular.js"></script>
  	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  	<script src="bower_components/angular-animate/angular-animate.js"></script>
  	<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
  	<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
  	<script src="bower_components/angular-native-dragdrop/draganddrop.js"></script>
  	<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  	<script src="bower_components/angular-http-loader/app/package/js/angular-http-loader.min.js"></script>
  	<script src="bower_components/moment/moment.js"></script>
  	<script src="bower_components/angular-moment/angular-moment.js"></script>
  	<script src="bower_components/angular-gantt/assets/angular-gantt.js"></script>
  	<script src="bower_components/angular-gantt/assets/angular-gantt-plugins.js"></script>
  	<script src="bower_components/moment-range/dist/moment-range.js"></script>
  	<script src="bower_components/css-element-queries/src/ElementQueries.js"></script>
  	<script src="bower_components/css-element-queries/src/ResizeSensor.js"></script>
  	<script src="bower_components/jsPlumb/dist/js/jsPlumb-2.0.7.js"></script>
	<script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
  	<script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
  	<script src="/resources/js/gantt.js"></script>
  	<script src="/resources/js/frontend-services.js"></script>
</head>

<body ng-app="angularGantt" ng-controller="GanttCtrl">

    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
     <div class="container">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand text-danger" href="#">RePlan</a>
         </div>
         <div class="navbar-collapse collapse" id="navbar-collapsible">
             <ul class="nav navbar-nav navbar-left">
                 <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Projects Management<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li class="dropdown-header">User Projects</li>
                   <li ng-repeat="project in vm.projects"><a href="changeUserProject(project.id)">{{project.name}}</a></li>
                   <li role="separator" class="divider"></li>

                   <li><a href="/resources/new-project_replan.html">Add Project</a></li>
                 </ul>
               </li>
                 <li><a href="/resources/project_replan.html">Project's Resources</a></li>
                 <li><a href="/resources/MainScreen_replan.html">Release Management</a></li>
                 <li>&nbsp;</li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
                 <li>
                     <div class="username-placeholder" ng-hide="vm.userName"></div>
                     <span class="navbar-brand text-danger" ng-cloak>{{vm.userName}}</span>
                 </li>
                 <li><a href="#" ng-click="logout()">Logout</a></li>
             </ul>
         </div>
       </div>
   </nav>

	<section class="container">
	  <h2>Solutions</h2>
	  <ul class="nav nav-tabs">
	    <li ng-class="{'active' : activeTab == $index}" ng-repeat="plan in vm.plans"><a data-toggle="tab" ng-click="setActiveTab($index)">{{plan.name}}</a></li>
	  </ul>
	  <div class="tab-content">
	    <div ng-repeat="plan in vm.plans" id="panel{{$index}}" ng-class="{'tab-pane active' : activeTab === $index, 'tab-pane' : activeTab !== $index}">
            <div gantt
	             data="plan.developers"
	             timespans="timespans">
	            <gantt-table></gantt-table>
	            <gantt-groups></gantt-groups>
	            <gantt-tooltips></gantt-tooltips>
	            <gantt-bounds></gantt-bounds>
	            <gantt-progress></gantt-progress>
	            <gantt-sortable></gantt-sortable>
	            <gantt-movable enabled="false"></gantt-movable>
	            <gantt-draw-task></gantt-draw-task>
	            <gantt-overlap></gantt-overlap>
	            <gantt-resize-sensor></gantt-resize-sensor>
	            <gantt-dependencies
	                enabled="true"
	                conflict-checker="true"
	                read-only="true">
	            </gantt-dependencies>
	        </div>
	    </div>
	  </div>

	 <div class="row pull-right" style="margin-top: 3em;">
   		<button type="submit" class="btn btn-default" ng-click="rollback()">Cancel</button>
   		<button type="submit" class="btn btn-default">Save</button>
      </div>
	</section>

	<div ng-http-loader title="Plannings" template="loader.html"></div>

	<script type="text/ng-template" id="loader.html">
       <div class="flyover">
          <div class="mask"></div>
          <div class="alert alert-info">
              <strong>Loading {{title}}...</strong>
          </div>
       </div>
    </script>
</body>

</html>
