<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <title>Project Resources | Re-Plan</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://vitalets.github.io/angular-xeditable/dist/css/xeditable.css">
  <link rel="shortcut icon" type="image/x-icon" href="http://www.upc.edu/favicon.ico" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
  <link rel="stylesheet" type="text/css" href="/resources/public/css/replan-styles.css">
  <link href="http://cdn.jsdelivr.net/select2/3.4.5/select2.css" rel="stylesheet" >

  <script src = "/resources/bower_components/angular/angular.js"></script>
  <script src = "/resources/bower_components/angular-messages/angular-messages.js"></script>
  <script src = "/resources/bower_components/spring-security-csrf-token-interceptor/dist/spring-security-csrf-token-interceptor.min.js"></script>
  <script src = "/resources/bower_components/lodash/dist/lodash.js"></script>
  <script src = "https://cdn.jsdelivr.net/select2/3.4.5/select2.min.js"></script>
  <script src = "/resources/bower_components/angular-ui-select2/src/select2.js"></script>
  <script src = "/resources/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src = "/resources/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src = "/resources/bower_components/angular-material/angular-material.min.js"></script>
  <script src = "/resources/js/frontend-services.js"></script>

  <script src="/resources/js/multiselect/angular-multiselect.js"></script>
  <script src="/resources/js/resources/xeditable.js"></script>
  <script src="/resources/js/resources/modal.js"></script>
  <script src="/resources/js/resources/resources_test.js"></script>
  <script src="https://code.angularjs.org/1.0.8/angular-mocks.js"></script>
</head>

<body ng-app="ProjectResourcesApp" ng-controller="MainCtrl">
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
     <div class="container">
         <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="navbar-brand text-danger" href="#">RePlan</a>
         </div>
         <div class="navbar-collapse collapse" id="navbar-collapsible">
             <ul class="nav navbar-nav navbar-left">
                 <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Projects Management<span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li class="dropdown-header">User Projects</li>
                   <li ng-repeat="project in vm.projects"><a href="changeUserProject(project.id)">{{project.name}}</a></li>
                   <li role="separator" class="divider"></li>

                   <li><a href="/resources/new-project_replan.html">Add Project</a></li>
                 </ul>
               </li>
                 <li><a href="/resources/project_replan.html">Project's Resources</a></li>
                 <li><a href="/resources/MainScreen_replan.html">Release Management</a></li>
                 <li>&nbsp;</li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
                 <li>
                     <div class="username-placeholder" ng-hide="vm.userName"></div>
                     <span class="navbar-brand text-danger" ng-cloak>{{vm.userName}}</span>
                 </li>
                 <li><a href="#" ng-click="logout()">Logout</a></li>
             </ul>
         </div>
       </div>
   </nav>

<div class="container">
  <section class="container">
	<div class="row">
	    <div class="col-sm-8">
	      <h3>Resources</h3>
	    </div>
    </div>
    <hr />
    <div class="row">
    <div class="col-sm-8">
      	<table class="table table-bordered table-hover table-condensed">
	        <thead class="thead-inverse">
				<tr>
			      <th class="col-md-2">Name</th>
			      <th class="col-md-3">Skills</th>
			      <th class="col-md-2">Availability</th>
			      <th class="col-md-2">Operations</th>
			    </tr>
			</thead>
	        <tbody>
	            <tr ng-repeat="employee in vm.employees" ng-include="getTemplate(employee)">
	            </tr>
	        </tbody>
    	</table>
    </div>

    <div class="col-sm-4">
      <button class="btn btn-primary" ng-click="addEmployee()">Add row</button>
      <button ng-click="toggleModal()" class="btn btn-primary">Manage Skills</button>
    </div>
    </div>
    <div class="row">
        <div class="form-horizontal form-group">
            <label for="name" class="col-sm-2 control-label">Available hours</label>
            <div class="col-sm-6">
              <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.name"
                     name="name" class="form-control">

              <div class="error-messages" ng-show="isMessagesVisible('name')" ng-messages="form.name.$error"
                   ng-cloak>
                  <div ng-message="required">The hours are mandatory</div>
              </div>
            </div>
        </div>
        
    </div>

    <div class="row">
 		<div class="col-md-offset-8 
                    col-md-3 text-right">
  		  <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	      <button class="btn btn-primary" ng-click="saveEmployees()">Save</button>
  		</div>
  </div>

  </section>

  <modal title="Manage Components" visible="showModal">
    <form role="form">
      <div class="form-group">
      	<label for="availableComponents">List of skills</label><br>
	    <select class="form-control" name="availableComponents" id="availableComponents"
	    		ng-init="selectedComponent = selectedComponent || vm.components[0]"
	    		ng-options="component.name for component in vm.components"
	    		ng-model="selectedComponent">
	    </select>
      </div>
      <div class="form-group">
        <label for="skillName">Name</label>
        <input type="text" class="form-control" id="skillName" placeholder="Enter Name" ng-model="selectedComponent.name"/>
      </div>
      <div class="form-group">
        <label for="skillAbbr">Abbreviation</label>
        <input type="text" class="form-control" id="skillAbbr" placeholder="Abbreviation (eg. BBDD)" ng-model="selectedComponent.abbr"/>
      </div>
      <div class="form-group">
        <label for="skillDescription">Description</label>
        <input type="text" class="form-control" id="skillDescription" placeholder="Short Description" ng-model="selectedComponent.description"/>
      </div>
      <div class="form-group">
	      <div class="text-right">
	      	<button type="submit" class="btn btn-default" ng-click="saveComponent(selectedComponent)" data-dismiss="modal">Submit</button>
	      </div>
      </div>
    </form>
  </modal>
</div>
	<script type="text/ng-template" id="display">
        <td>{{employee.name}}</td>
        <td>{{showSkills(employee.skills)}}</td>
		<td>{{employee.effort}}</td>	
        <td style="text-align: center">
            <button ng-click="editEmployee(employee)" class="btn btn-primary">Edit</button>
			<button ng-click="removeEmployee($index)" class="btn btn-danger">Delete</button>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model="vm.selected.name" /></td>
        <td><div ui-select2="multi" ng-model="vm.selected.editableComponents"></div></td>
		<td><input type="text" ng-model="vm.selected.effort" /></td>
        <td>
            <button ng-click="saveEmployee($index)" class="btn btn-primary">Save</button>
            <button ng-click="reset()" class="btn btn-danger">Cancel</button>
        </td>
    </script>
</body>
</html>
