<div dnd-list="[]" class="container anim-fade">
  <section class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Release Creation / Edition</h3>
      </div>
    </div>
          <hr />
    <form role="form" class="form-horizontal">
      <div class="row form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.release.name"
                   name="name" class="form-control" placeholder="Name">

            <div class="error-messages" ng-show="isMessagesVisible('name')" ng-messages="form.name.$error"
                 ng-cloak>
                <div ng-message="required">The name is mandatory</div>
            </div>
          </div>
      </div>

      <div class="row form-group">
          <label for="description" class="col-sm-2 control-label">Description </label>
          <div class="col-sm-10">
            <input id="capacity" type="text" ng-focus="focus('description')" ng-blur="blur('description')" ng-model="vm.release.description"
                   name="description" class="form-control" placeholder="Description">
          </div>
      </div>
	    <div class="dragDropZone row">
          <label for="resources" class="col-sm-2 control-label">Resources </label>
          <div class="col-sm-3">
  	        <div class="panel panel-primary">
  	              <div class="panel-heading clearfix">
  	                  <h3 class="panel-title ng-binding text-center">Resources</h3>
  	              </div>
  	              <div class="panel-body ng-scope" style="max-height: 225;overflow-y: scroll;">
  	                  <!-- The dnd-list directive allows to drop elements into it.
  	                   The dropped data will be added to the referenced list -->
  	                  <ul dnd-list="vm.releaseEmployees">
  	                      <!-- The dnd-draggable directive makes an element draggable and will
  	                           transfer the object that was assigned to it. If an element was
  	                           dragged away, you have to remove it from the original list
  	                           yourself using the dnd-moved attribute -->
  	                      <li ng-repeat="item in vm.releaseEmployees"
  	                          dnd-draggable="item"
  	                          dnd-moved="freeEmployee($index)"
  	                          dnd-effect-allowed="move"
  	                          dnd-selected="vm.selected = item"
  	                          ng-class="{'selected': vm.selected === item}"
  	                          >
  	                          {{item.name}}
  	                      </li>
  	                  </ul>
  	              </div>
  	        </div>
	      </div>
        <div class="col-sm-2">
          <button ng-click="toggleModal()" class="btn btn-primary">Add Employee</button>
        </div>
        <div class="col-sm-4 animate-show" ng-show="vm.selected" >
          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left">{{vm.selected.name}}</h4>
              <div class="btn-group pull-right">
                <button type="button" class="close" aria-hidden="true" ng-click="vm.selected.name = ''">×</button>
              </div>
            </div>
                <div class="panel-body">
                  <p><strong>Skills</strong> </p>
                  <ul>
                   	<li ng-repeat="skill in vm.selected.skills">{{skill.name}}</li>
                  </ul>
                </div>
          </div>
        </div>
	    </div>
	    
	   <div class="row form-group">
          <label for="startdate" class="col-sm-2 control-label">Start Date</label>
          <div class="col-sm-3">
              <input id="startdate" type="date" ng-focus="focus('startdate')" ng-blur="blur('startdate')" ng-model="vm.release.initialDate"
                     name="startdate" class="pure-input-1" placeholder="Start Date" required >

              <div class="error-messages" ng-show="isMessagesVisible('startdate')" ng-messages="form.startdate.$error"
                   ng-cloak>
                  <div ng-message="required">The start date is mandatory</div>
              </div>
          </div>
      </div>
      <div class="row form-group">
          <label for="deadline" class="col-sm-2 control-label">Release Date</label>
          <div class="col-sm-3">
              <input id="deadline" type="date" ng-focus="focus('deadline')" ng-blur="blur('deadline')" ng-model="vm.release.deadline"
                     name="deadline" class="pure-input-1" placeholder="Deadline" required >

              <div class="error-messages" ng-show="isMessagesVisible('deadline')" ng-messages="form.deadline.$error"
                   ng-cloak>
                  <div ng-message="required">The deadline is mandatory</div>
              </div>
          </div>
          <div class="col-sm-2">
              <button class="btn btn-primary" ng-click="extend()">48 months</button>
          </div>
      </div>
	    <div class="row pull-right">
	        <button ng-click="saveRelease()" class="btn btn-primary">Create / Edit Release</button>
	        <a ui-sref="releaseMgmt" class="btn btn-primary">Go Back</a>
	    </div>
    </form>
  </section>

  <modal title="Add Resource" visible="showModal">
    <form role="form">
      <div class="form-group">
        <label for="resourceName">Resource</label>
		<select class="form-control" name="availableResource" id="resourceName"
	    		ng-options="employee.name for employee in vm.availableEmployees"
	    		ng-model="selectedEmployee">
	    </select>
      </div>
      <div class="form-group">
        <label for="resourceSkills">Skills</label>
        <input type="text" class="form-control" id="resourceSkills" value="{{showSkills(selectedEmployee.skills)}}" disabled/>
      </div>
      <div class="form-group">
        <label for="resourceAvailability">Availability</label>
        <input type="text" class="form-control" id="resourceAvailability" ng-model="selectedEmployee.effort" value="{{employee.effort > 0 ? employee.effort : ''}}" disabled />
      </div>
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary" ng-click="addEmployee(selectedEmployee)" data-dismiss="modal">Add</button>
      </div>
    </form>
  </modal>
</div>

