<section class="container anim-fade"  style="position: relative;">
    <div class="row">
      <div class="col-sm-4">
        <h2>{{vm.projectName}}</h2>
      </div>
    </div>
	 <hr />
     <div class="dragDropZone row">
       <div class="col-md-5">
         <div class="panel panel-primary">
           <div class="panel-heading clearfix">
             <h4 class="panel-title pull-left">Features</h4>
             <div class="btn-group pull-right">
               <a class="btn btn-default btn-sm" ui-sref="editRequirement({ requirementID : 0 })">Add feature</a>
               <a class="btn btn-default btn-sm" ui-sref="editRequirement({ requirementID : models.selected.id })" ng-show="models.selected">Edit feature</a>
               <a class="btn btn-default btn-sm" ng-click="deleteRequirement(models.selected.id)" ng-show="models.selected">Delete feature</a>
             </div>
            </div>
             <div class="panel-body">
               <ul dnd-list="models.availableRequirements">
                   <!-- The dnd-draggable directive makes an element draggable and will
                        transfer the object that was assigned to it. If an element was
                        dragged away, you have to remove it from the original list
                        yourself using the dnd-moved attribute -->
                   <li ng-repeat="item in models.availableRequirements"
                       dnd-draggable="item"
                       dnd-moved="models.availableRequirements.splice($index, 1)"
                       dnd-effect-allowed="move"
                       dnd-selected="models.selected = item"
                       ng-class="{'selected': models.selected === item}"
                       >
                       {{item.name}}
                   </li>
               </ul>
             </div>
         </div>
       </div>
         <div class="col-sm-6 col-sm-offset-1">
           <div class="row" ng-repeat="release in vm.projectReleases">
	             <div class="panel panel-primary">
               <div class="panel-heading clearfix">
                 <h4 class="panel-title pull-left">{{release.name}}</h4>
                 <div class="btn-group pull-right">
                   <a ui-sref="editRelease({ releaseID : release.id })" class="btn btn-default btn-sm">Configure</a>
                   <button ng-show="!release.hasPlans" ng-click="updateRequirements(release, $event)" class="btn btn-default btn-sm">Create Plan</button>
                   <button ng-click="saveRequirements(release, $event)" class="btn btn-default btn-sm">Save Features</button>
                   <button ng-show="release.hasPlans" class="btn btn-default btn-sm" ng-click="seePlan(release.id)">See Plans</button>
                   <button ng-show="release.hasPlans" class="btn btn-default btn-sm" ng-click="updateRequirements(release, $event)">RePlan Release</button>
                 </div>
               </div>
               <div class="panel-body ng-scope">
                   <!-- The dnd-list directive allows to drop elements into it.
                    The dropped data will be added to the referenced list -->
                   <ul dnd-list="release.requirements">
                       <!-- The dnd-draggable directive makes an element draggable and will
                            transfer the object that was assigned to it. If an element was
                            dragged away, you have to remove it from the original list
                            yourself using the dnd-moved attribute -->
                       <li ng-repeat="req in release.requirements"
                           dnd-draggable="req"
                           dnd-moved="moveReleaseRequirement($index, release)"
                           dnd-effect-allowed="{'move' : req.state === 'TO_DO'}"
                           dnd-disable-if="req.state === 'DONE' || req.state === 'IN_PROGRESS'"
                           dnd-selected="vm.selected = item"
                           ng-class="{'selected': vm.selected === req,
                           			'list-group-item-success': (req.state === 'TO_DO' && req.planned === true),
                           			'list-group-item-warning': (req.state === 'IN_PROGRESS' && req.planned === true),
                           			'list-group-item-danger': (req.state === 'DONE' && req.planned === true)}"
                           >
                           {{req.name}}
                       </li>
                   </ul>
                 </div>
               </div>
             </div>

             <div class="row btn-group-vertical pull-right">
                 <a ui-sref="editRelease({ releaseID : -1 })" class="btn btn-default">Add release</a>
                  <a ui-sref="newProject" class="btn btn-default">Edit project config</a>
			</div>
         </div>
     </div>
 </section>
