<section class="container" ng-controller="RequirementCtrl">
    <form name="form" class="form-horizontal" ng-submit="createRequirement()" novalidate>
        <legend><h2>Create Feature</h2></legend>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-8">
              <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.nameRequirement"
                     name="name" class="form-control" placeholder="Name">
            </div>
           	<div class="col-sm-1" ng-show="form.name.$touched">
              <span ng-class="{'glyphicon glyphicon-ok valid': form.name.$valid, 'glyphicon glyphicon-remove not-valid': form.name.$invalid}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="effort" class="col-sm-2 control-label">Effort (hours)</label>
            <div class="col-sm-8">
              <input id="effort" type="text" ng-focus="focus('effort')" ng-blur="blur('effort')" ng-model="vm.effort"
                     name="effort" class="form-control" placeholder="Effort" required ng-minlength="1">
            </div>
          	    <div class="col-sm-1" ng-show="form.effort.$touched">
             		<span ng-class="{'glyphicon glyphicon-ok valid': form.effort.$valid, 'glyphicon glyphicon-remove not-valid': form.effort.$invalid}"></span>
	            </div>
        </div>
        <div class="form-group">
            <label for="component" class="col-sm-2 control-label">Component</label>
            <div class="col-sm-8">
                <multiselect id="component"
	              ng-model="vm.components"
	              options="c.name for c in vm.availableComponents"
	              data-multiple="true">
	          </multiselect>
            </div>
        </div>
        <div class="form-group">
          <label for="deadline" class="col-sm-2 control-label">Deadline</label>
            <div class="col-sm-8">
              <input id="deadline" type="date" ng-focus="focus('deadline')" ng-blur="blur('deadline')" ng-model="vm.deadline"
                     name="deadline" class="form-control" placeholder="Deadline">

            </div>
           	    <div class="col-sm-1" ng-show="form.deadline.$touched">
              		<span ng-class="{'glyphicon glyphicon-ok valid': form.deadline.$valid, 'glyphicon glyphicon-remove not-valid': form.deadline.$invalid}"></span>
	            </div>
        </div>
        <div class="form-group">
          <label for="dependencies" class="col-sm-2 control-label">Dependencies</label>
          <div class="col-sm-8">
             <multiselect id="dependencies"
            ng-model="vm.dependencies"
            options="r.name for r in vm.availableRequirements"
            data-multiple="true">
        </multiselect>
          </div>
        </div>
        <div class="form-group">
          <label for="priority" class="col-sm-2 control-label">Priority</label>
            <div class="col-sm-8">
              <input id="priority" type="text" ng-focus="focus('priority')" ng-blur="blur('priority')" ng-model="vm.priority"
                     name="priority" class="form-control" placeholder="Priority" required ng-minlength="1">
            </div>
           	<div class="col-sm-1" ng-show="form.priority.$touched">
            	<span ng-class="{'glyphicon glyphicon-ok valid': form.priority.$valid, 'glyphicon glyphicon-remove not-valid': form.priority.$invalid}"></span>
            </div>
        </div>
        <div class="form-group">
          <label for="maxEmployees" class="col-sm-2 control-label">Max Employees</label>
            <div class="col-sm-8">
              <input id="maxEmployees" type="text" ng-focus="focus('maxEmployees')" ng-blur="blur('maxEmployees')" ng-model="vm.maxEmployees"
                     name="maxEmployees" class="form-control" placeholder="Maximum Employees" value="1">
            </div>
            <div class="col-sm-1" ng-show="form.maxEmployees.$touched">
              		<span ng-class="{'glyphicon glyphicon-ok valid': form.maxEmployees.$valid, 'glyphicon glyphicon-remove not-valid': form.maxEmployees.$invalid}"></span>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn btn-primary" ngClick="Submit">Create Requirement</button>
          <a ui-sref="releaseMgmt" class="btn btn-danger pull-right">Go Back</a>
        </div>
    </form>
</section>

<script src = "/resources/js/multiselect/angular-multiselect.js"></script>
