    <section class="container">
      <h1>Demo: Simple Lists</h1>

      <div class="alert alert-success">
          <strong>Instructions:</strong>
          Drag &amp; drop the list items to move them around, or just click to select them.
          If that's too boring, check out the <a href="#/nested">nested container demo</a>
      </div>

      <div class="dragDropZone row">

          <div class="col-md-8">
              <div class="row">

              <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">List {{listName}}</h3>
                    </div>
                    <div class="panel-body">
                      <ul dnd-list="models.lists.C">
                          <!-- The dnd-draggable directive makes an element draggable and will
                               transfer the object that was assigned to it. If an element was
                               dragged away, you have to remove it from the original list
                               yourself using the dnd-moved attribute -->
                          <li ng-repeat="item in models.lists.C"
                              dnd-draggable="item"
                              dnd-moved="models.lists.C.splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item"
                              ng-class="{'selected': models.selected === item}"
                              >
                              {{item.name}}
                          </li>
                      </ul>
                    </div>
                </div>
              </div>
                  <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">List {{listName}}</h3>
                        </div>
                        <div class="panel-body">
                        <ul dnd-list="models.lists.B">
                          <!-- The dnd-draggable directive makes an element draggable and will
                               transfer the object that was assigned to it. If an element was
                               dragged away, you have to remove it from the original list
                               yourself using the dnd-moved attribute -->
                          <li ng-repeat="item in models.lists.B"
                              dnd-draggable="item"
                              dnd-moved="models.lists.B.splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item"
                              ng-class="{'selected': models.selected === item}"
                              >
                              {{item.label}}
                          </li>
                      </ul>
                        </div>
                    </div>
                  </div>
              </div>

          </div>

      </div>
  </section>
