<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Requirement - Re-Plan</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
</head>
<body class="pure-skin-theme" id="createUserApp">

<header class="page-header pure-g">
    <div class="pure-u-lg-1-2 pure-u-1">
        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">Re-Plan</span>
    </div>
</header>
        <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <div class="login-container">

            <form name="form" ng-submit="createRequirement()" class="pure-form login-form" novalidate ng-controller="NewRequirementCtrl">
                <fieldset class="pure-group">
                    <legend>Requirement</legend>
                    <div class="form-field">
                        <label for="name">Name</label>
                        <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.name"
                               name="name" class="pure-input-1" placeholder="Name">

                        <div class="error-messages" ng-show="isMessagesVisible('name')" ng-messages="form.name.$error"
                             ng-cloak>
                            <div ng-message="required">The name is mandatory</div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="effort">Effort (hours)</label>
                        <input id="effort" type="text" ng-focus="focus('effort')" ng-blur="blur('effort')" ng-model="vm.effort"
                               name="effort" class="pure-input-1" placeholder="Effort" required ng-minlength="1">

                        <div class="error-messages" ng-show="isMessagesVisible('effort')" ng-messages="form.effort.$error"
                             ng-cloak>
                            <div ng-message="required">The effort is mandatory</div>
                        </div>
                    </div>
                    <div class="form-field">
						<label for="component">Component</label>
						<select id="component" ng-focus="focus('component')" name="component" class="pure-input-1" ng-model="vm.component">
					      <option ng-repeat="component in vm.components" value="{{component.id}}">{{component.name}}</option>
					    </select>
                        <div class="error-messages" ng-show="isMessagesVisible('component')" ng-messages="form.component.$error"
                             ng-cloak>
                            <div ng-message="required">The components are mandatory</div>
                        </div>
                    </div>
                    <div class="form-field">
                    	<label for="deadline">Deadline</label>
                        <input id="deadline" type="date" ng-focus="focus('deadline')" ng-blur="blur('deadline')" ng-model="vm.deadline"
                               name="deadline" class="pure-input-1" placeholder="Deadline" required ng-minlength="6">

                        <div class="error-messages" ng-show="isMessagesVisible('deadline')" ng-messages="form.deadline.$error"
                             ng-cloak>
                            <div ng-message="required">The deadline is mandatory</div>
                        </div>
                    </div>
                    <div class="form-field">
                    	<label for="dependence">Dependencies</label>
						<select id="dependence" ng-focus="focus('dependencies')" name="dependence" class="pure-input-1" ng-model="vm.dependence">
					      <option ng-repeat="requirement in vm.requirements" value="{{requirement.id}}">{{requirement.name}}</option>
					    </select>
                    </div>
                    <div class="last-form-field">
                    	<label for="priority">Priority</label>
                        <input id="priority" type="text" ng-focus="focus('priority')" ng-blur="blur('priority')" ng-model="vm.priority"
                               name="priority" class="pure-input-1" placeholder="Priority" required ng-minlength="1">

                        <div class="error-messages" ng-show="isMessagesVisible('priority')" ng-messages="form.$error"
                             ng-cloak>
                            <div ng-message="required">The priority is mandatory</div>
                        </div>
                    </div>
                </fieldset>

                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Create Requirement</button>
            </form>

        </div>

<script type="text/javascript" data-main="/resources/js/run-requirement-creator"
        src="/resources/bower_components/requirejs/require.js"></script>
</body>
</html>