<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create User</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
</head>
<body class="pure-skin-theme" id="skillCreatorApp">

<header class="page-header pure-g not-ready" ng-class="{'app-ready': vm.appReady}">
    <div class="pure-u-lg-1-2 pure-u-1">

        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">Re-Plan SUPERSEDE Project</span>
    </div>
    <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
            <a class="logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</header>
        <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <div class="login-container">

            <form name="form" ng-submit="createSkill()" class="pure-form login-form" novalidate ng-controller="NewSkillCtrl">
                <fieldset class="pure-group">
                    <legend>Skill</legend>
                    <div class="form-field">
                        <input type="text" ng-focus="focus('nameSkill')" ng-blur="blur('nameSkill')" ng-model="vm.nameSkill"
                               name="nameSkill" class="pure-input-1" placeholder="Name">

                        <div class="error-messages" ng-show="isMessagesVisible('nameSkill')" ng-messages="form.nameSkill.$error"
                             ng-cloak>
                            <div ng-message="required">The name is mandatory</div>
                        </div>
                    </div>
                    <div class="last-form-field">
                        <input type="text" ng-focus="focus('description')" ng-blur="blur('description')" ng-model="vm.description"
                               name="description" class="pure-input-1" placeholder="Description">
                    </div>
                 </fieldset>

                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Create Skill</button>
            </form>

        </div>

<script type="text/javascript" data-main="/resources/js/run-skill-creator"
        src="/resources/bower_components/requirejs/require.js"></script>
</body>
</html>