<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Release - Re-Plan</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
</head>
<body class="pure-skin-theme" id="releaseCreatorApp">

<header class="page-header pure-g not-ready" ng-class="{'app-ready': vm.appReady}">
    <div class="pure-u-lg-1-2 pure-u-1">

        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">Re-Plan SUPERSEDE Project</span>
    </div>
    <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
            <a class="logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</header>

        <tt-error-messages extra-styles="access-screen"></tt-error-messages>

        <div class="login-container">

            <form name="form" ng-submit="createResource()" class="pure-form login-form" novalidate ng-controller="ResourceCtrl">
                <fieldset class="pure-group">
                    <legend>New Resource</legend>
                    <div class="form-field">
                        <input type="text" ng-focus="focus('nameResource')" ng-blur="blur('nameResource')" ng-model="vm.nameResource"
                               name="nameResource" class="pure-input-1" placeholder="Name" required ng-minlength="1">

                        <div class="error-messages" ng-show="isMessagesVisible('nameResource')" ng-messages="form.name.$error"
                             ng-cloak>
                            <div ng-message="required">The name is mandatory</div>
                        </div>
                    </div>
                    <div class="form-field">
                        <input type="text" ng-focus="focus('description')" ng-blur="blur('description')" ng-model="vm.description"
                               name="description" class="pure-input-1" placeholder="Description">
                    </div>
                    <div class="form-field">
                        <input type="date" ng-focus="focus('date')" ng-blur="blur('date')" ng-model="vm.date"
                               name="date" class="pure-input-1" placeholder="Date" required ng-minlength="1">

                        <div class="error-messages" ng-show="isMessagesVisible('date')" ng-messages="form.date.$error"
                             ng-cloak>
                            <div ng-message="required">The date is mandatory</div>
                        </div>
                    </div>
					<div class="form-field">
                        <input type="text" ng-focus="focus('capacityResource')" ng-blur="blur('capacityResource')" ng-model="vm.capacityResource"
                               name="capacityResource" class="pure-input-1" placeholder="Capacity" required ng-minlength="1">

                        <div class="error-messages" ng-show="isMessagesVisible('capacityResource')" ng-messages="form.capacity.$error"
                             ng-cloak>
                            <div ng-message="required">The capacity is mandatory</div>
                        </div>
                    </div>
                    <div class="last-form-field">
                        <input type="text" ng-focus="focus('effort')" ng-blur="blur('effort')" ng-model="vm.effort"
                               name="effort" class="pure-input-1" placeholder="Effort" required ng-minlength="1">

                        <div class="error-messages" ng-show="isMessagesVisible('effort')" ng-messages="form.effort.$error"
                             ng-cloak>
                            <div ng-message="required">The effort is mandatory</div>
                        </div>
                    </div>
                 </fieldset>

                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Create Resource</button>

            </form>

        </div>

<script type="text/javascript" data-main="/resources/js/run-resource-creator"
        src="/resources/bower_components/requirejs/require.js"></script>
</body>
</html>