<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Re-Plan SUPERSEDE</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
    <link rel="stylesheet" href="/resources/css/jquery.datetimepicker.css">
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="/resources/public/js/dialog.js"></script>
</head>
<body class="pure-skin-theme" id="resourceCreatorApp" ng-controller="ResourcesCtrl">

<div class="please-wait-dialog" ng-hide="vm.appReady">
    <img class="please-wait-spinner" src="/resources/img/loading.gif">
</div>

<header class="page-header pure-g not-ready" ng-class="{'app-ready': vm.appReady}">
    <div class="pure-u-lg-1-2 pure-u-1">

        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">Re-Plan SUPERSEDE Project</span>


    </div>
    <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
            <a class="logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</header>

<main class="container not-ready" ng-class="{'app-ready': vm.appReady}" ng-cloak>

    <tt-error-messages></tt-error-messages>

    <div class="info-messages"
         ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
    <img class="info-icon" src="/resources/img/info-icon.png">
        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>

    <form class="pure-form pure-form-aligned search-form">
        <fieldset>
            <legend>{{vm.projectName}}</legend>
        </fieldset>

        <div class="meals-list">

            <div class="table-buttons">
                <button type="submit" class="pure-button" ng-click="add()">Add Resource</button>
                <button type="submit" class="pure-button" ng-click="delete()" ng-disabled="vm.isSelectionEmpty"
                        disabled>Delete
                </button>
            </div>

            <table class="pure-table">
                <thead>
                <tr>
                    <th class="selection-column"></th>
                    <th>Name: </th>
                    <th>Component</th>
                    <th>Availability</th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="employee in vm.employees | excludeDeleted | limitTo : 10" tt-editable-row rowValue="employee"
                    ng-class="{'pure-table-odd': $index % 2 == 1, 'pure-table-even': $index % 2 == 0}">

                    <td class="selection-column">
                        <input type="checkbox" ng-model="employee.selected" ng-click="selectionChanged()">
                    </td>

                    <td tt-editable-cell value="employee.name" is-new="employee.new">
                        <input tt-date-time-picker tt-cell-field type="text" ng-model="employee.name">
                    </td>

                    <td tt-editable-cell value="employee.component" is-new="employee.new">
                        <select ng-model="employee.component">
					      <option ng-repeat="component in vm.availableComponents" value="{{component.id}}">{{component.name}}</option>
					    </select>
                    </td>

                    <td tt-editable-cell value="employee.availability" is-new="employee.new">
                        <input type="text" tt-cell-field tt-numeric-field ng-model="employee.availability">
                    </td>

                </tr>

                </tbody>
            </table>
        </div>


    </form>

    <div class="form-separator"></div>

    <div class="main-controls">
        <button type="submit" class="pure-button pure-button-primary" ng-click="save()">Save</button>
        <button  class="pure-button" ng-click="showAlert()">Manage components</button>
        <button type="reset" class="pure-button" ng-click="reset()">Reset</button>
    </div>


	<div id="skillDialog" title="Dialog Form" ng-show="diagComp" class="ng-cloak">
	    <div class="login-container">
            <form name="form" class="pure-form login-form" novalidate >
                <fieldset class="pure-group">
                    <legend>Skill</legend>
                    <div class="form-field">
                        <input type="text" ng-focus="focus('nameSkill')" ng-blur="blur('nameSkill')" ng-model="vm.nameSkill"
                               name="nameSkill" class="pure-input-1" placeholder="Name" />

                        <div class="error-messages" ng-show="isMessagesVisible('nameSkill')" ng-messages="form.nameSkill.$error"
                             ng-cloak>
                            <div ng-message="required">The name is mandatory</div>
                        </div>
                    </div>
                    <div class="last-form-field">
                        <input type="text" ng-focus="focus('description')" ng-blur="blur('description')" ng-model="vm.description"
                               name="description" class="pure-input-1" placeholder="Description" />
                    </div>
                 </fieldset>

                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Create Skill</button>
            </form>

        </div>
	</div>
</main>

<script type="text/javascript" data-main="/resources/js/run-resource-creator"
        src="/resources/bower_components/requirejs/require.js"></script>
<script>

</script>

</body>
</html>