<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Re-Plan SUPERSEDE Project</title>
    <link rel="stylesheet" href="/resources/bower_components/pure/pure.css">
    <link rel="stylesheet" href="/resources/bower_components/pure/grids-responsive.css">
    <link rel="stylesheet" href="/resources/public/css/pure-theme.css">
    <link rel="stylesheet" href="/resources/public/css/calories-tracker.css">
    <link rel="stylesheet" href="/resources/css/jquery.datetimepicker.css">
</head>
<body class="pure-skin-theme" id="caloriesCounterApp" ng-controller="CaloriesTrackerCtrl">

<div class="please-wait-dialog" ng-hide="vm.appReady">
    <img class="please-wait-spinner" src="/resources/img/loading.gif">
</div>

<header class="page-header pure-g ">
    <div class="pure-u-lg-1-2 pure-u-1">

        <a class="pure-menu-heading" href="#">
            <img class="logo" src="/resources/img/logo.png">
        </a>
        <span class="header-element page-title">Re-Plan</span>

    </div>
    <div class="pure-u-lg-1-2 pure-u-1 utilities">
        <div class="header-element">
            Username
        </div>
        <div class="header-element username">
            <div class="username-placeholder" ng-hide="vm.userName"></div>
            <span ng-cloak>{{vm.userName}}</span>
        </div>
        <div class="header-element">
            <a class="logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </div>
</header>

<main class="container" ng-class="app-ready" ng-cloak>

    <tt-error-messages></tt-error-messages>

    <div class="info-messages"
         ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10}">
    <img class="info-icon" src="/resources/img/info-icon.png">
        <div class="messages-group">
            <div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
        </div>
    </div>

    <form class="pure-form pure-form-aligned search-form">
        <legend>Resources</legend>
        
        <div class="meals-list">

            <div class="table-buttons">
                <button type="submit" class="pure-button" ng-click="add()">Add</button>
                <button type="submit" class="pure-button" ng-click="delete()" ng-disabled="vm.isSelectionEmpty"
                        disabled>Delete
                </button>
            </div>

            <table class="pure-table">
                <thead>
                <tr>
                    <th class="selection-column"></th>
                    <th></th>
                    <th>Component</th>
                    <th>Availability</th>
                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="employee in vm.employees | excludeDeleted " tt-editable-row rowValue="employee"
                    ng-class="{'pure-table-odd': $index % 2 == 1, 'pure-table-even': $index % 2 == 0}">

                    <td class="selection-column">
                        <input type="checkbox" ng-model="meal.selected" ng-click="selectionChanged()">
                    </td>

                    <td tt-editable-cell value="employee.name" is-new="employee.new">
                        <input tt-date-time-picker tt-cell-field type="text"
                               ng-model="employee.name">
                    </td>

                    <td tt-editable-cell value="employee.description" is-new="meal.new">
                         <select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
      						<option ng-repeat="option in employee.availableSkills" value="{{option.id}}">{{option.name}}</option>
    					 </select>
                    </td>

                    <td tt-editable-cell value="employee.effort" is-new="employee.new">
                        <input type="text" tt-cell-field tt-numeric-field ng-model="employee.effort">
                    </td>

                </tr>

                </tbody>
            </table>

        </div>


    </form>

    <div class="form-separator"></div>

    <div class="main-controls">
        <button type="submit" class="pure-button pure-button-primary" ng-click="save()">Save</button>
        <button type="reset" class="pure-button" ng-click="reset()">Reset</button>
    </div>

</main>

<script type="text/javascript" data-main="/resources/js/run-calories-tracker"
        src="/resources/bower_components/requirejs/require.js"></script>

</body>
</html>