<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="replan-styles.css">
  <link rel="stylesheet" href="http://vitalets.github.io/angular-xeditable/dist/css/xeditable.css">
  <script src="example.js"></script>
  <script src="xeditable.js"></script>
  <script src="modal.js"></script>
  <script src="https://code.angularjs.org/1.0.8/angular-mocks.js"></script>
</head>

<body>
    <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand text-danger" href="#">RePlan</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapsible">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="#section1">Start</a></li>
                  <li><a href="#section2">Next</a></li>
                  <li><a href="#section3">Then</a></li>
                  <li><a href="#section4">Form</a></li>
                  <li><a href="#section5">More</a></li>
                  <li><a href="#section6">Last</a></li>
                  <li>&nbsp;</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <div class="username-placeholder" ng-hide="vm.userName"></div>
                      <span ng-cloak>{{vm.userName}}</span>
                  </li>
                  <li><a href="">Logout</a></li>
              </ul>
          </div>
        </div>
    </nav> 



<div ng-app="mymodal" ng-controller="MainCtrl" class="container">
  <section class="container">
    
    <div class="col-sm-8">
      <h3>Resources</h3>  
    </div>
    <div class="row">
    <div class="col-sm-8">
      <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
          <td style="width:35%">Name</td>
          <td style="width:20%">Skills</td>
          <td style="width:20%">Availability</td>
          <td style="width:25%">Edit / Delete</td>
        </tr>
        <tr ng-repeat="user in users">
          <td>
            <!-- editable username (text with validation) -->
            <span editable-text="user.name" e-name="name" e-form="rowform" onbeforesave="checkName($data, user.id)" e-required>
              {{ user.name || 'empty' }}
            </span>
          </td>
          <td>
            <!-- editable status (select-local) -->
            <span editable-select="user.status" e-name="status" e-form="rowform" e-ng-options="s.value as s.text for s in statuses">
              {{ showStatus(user) }}
            </span>
          </td>
          <td>
            <!-- editable group (select-remote) -->
            <span editable-select="user.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-ng-options="g.id as g.text for g in groups">
              {{ showGroup(user) }}
            </span>
          </td>
          <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
              <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                save
              </button>
              <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                cancel
              </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
              <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
            </div>  
          </td>
        </tr>
      </table>
    </div>
    
    <div class="col-sm-4">
      <button class="btn btn-default" ng-click="addUser()">Add row</button>
      <button ng-click="toggleModal()" class="btn btn-default">Manage Resources</button>
    </div>
    </div>
    <div class="row">
        <div class="form-horizontal form-group">
            <label for="name" class="col-sm-2 control-label">Available hours</label>
            <div class="col-sm-6">
              <input id="name" type="text" ng-focus="focus('name')" ng-blur="blur('name')" ng-model="vm.name"
                     name="name" class="form-control" placeholder="Name">

              <div class="error-messages" ng-show="isMessagesVisible('name')" ng-messages="form.name.$error"
                   ng-cloak>
                  <div ng-message="required">The name is mandatory</div>
              </div>
            </div>
        </div>
      </div>
  </section>
  
  <modal title="Manage Resources" visible="showModal">
    <form role="form">
      <div class="form-group">
        <label for="skillName">Name</label>
        <input type="text" class="form-control" id="skillName" placeholder="Enter Name" />
      </div>
      <div class="form-group">
        <label for="password">Abbreviation</label>
        <input type="text" class="form-control" id="skillAbbr" placeholder="Abbreviation (eg. BBDD)" />
      </div>
      <div class="form-group">
        <label for="skillDescription">Description</label>
        <input type="text" class="form-control" id="skillDescription" placeholder="Short Description" />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </modal>
</div>
<script>

</script>
</body>
</html>